.about__bg_image {
  background-image: url("/images/MaskGroup101.png");
  /* border: 1px solid red; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 914px;
}

.about_bg_gradient {
  margin-top: 6rem;
  background: transparent linear-gradient(180deg, #2c2e4b 0%, #1e1f31 100%) 0%
    0% no-repeat padding-box;
}

.wrapper {
  position: relative;
  padding-top: 2rem;
}

.button:focus {
  outline: none;
}

.button:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5s);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

.button:hover {
  background: #fff;
  cursor: pointer;
  color: black;
}

.button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.4;
  transition: 0.7s;
}

.carousel__main {
  /* height: 50rem; */
}

.carousel__cell {
  width: 364px;
  border-radius: 2px;
  margin-right: 1rem;
  overflow: none;
  box-shadow: 0px 10px 30px #d3d7de99;
  /* height: 40rem; */
}

.about__work_bg {
  background: transparent linear-gradient(270deg, #5551c6 0%, #6966c7 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
}
@media screen and (max-width: 425px) {
  #mission_details {
    margin:0 1rem !important;
  }
}