.career_title {
  /* border: 1px solid red; */
  text-align: center;
  padding: 6rem;
  width: 100%;
}

.career_img_cover {
  height: 20rem;
  width: 100%;
}

.career_philosophy {
  display: flex;
  padding: 6rem;
}

.carousel__main {
  /* height: 22rem; */
  /* padding-left: 20px; */
  /* height: 50rem; */
}

.post {
  background-color: white;
  padding: 2rem;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 30rem;
  -webkit-box-shadow: 5px 5px 50px -10px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 50px -10px rgba(0, 0, 0, 0.25);
}

.post__header {
  display: flex;
  margin-bottom: 10px;
}

.post__info {
  margin-left: 10px;
}

.post__info > p {
  font-size: 12px;
  color: gray;
}

.career__commandments {
  background-color: #292b46; 
  margin-top: 3rem; 
}

.wrapper {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 10%;
}

.button:focus {
  outline: none;
}

.button:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5s);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

.button:hover {
  background: #fff;
  cursor: pointer;
  color: black;
}

.button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.4;
  transition: 0.7s;
}

/*  */

.career__commandments_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 1fr; */
  gap: 10px;
  justify-content: center;
  width: 90%;
  padding: 5rem 10rem 10rem 10rem;
  background-color: #fff;
  border-radius: 10px;
}

.contents {
  width: 4rem;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.5;
}
#contents {
  width: 4rem;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.5;
}

.career__perks {
  display: flex;
  padding: 2rem 2rem 2rem 0rem;
}

.career_jobs_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; 
}

#globe__contents {
  -webkit-box-shadow: 5px 5px 50px -10px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 50px -10px rgba(0, 0, 0, 0.25);
 
  /* padding: 2rem; */
  border-radius: 5px;
}
