/* .banner__text {
  width: 24%;
}

.banner__title {
  font-size: 34px;
  color: #383b62;
  margin-bottom: 20px;
  text-align: center;
}

.banner__subtitle {
  font-size: 14px;
  color: #8a92a3;
  text-align: center;
}

.contact__block {
  width: 35%;
  max-width: 490px;
  min-height: 300px;
  height: 300px;
  background: #fff;
  box-shadow: 0px 10px 30px #d3d7de99;
  display: flex;
    justify-content: flex-start;
  text-align: left;
  padding: 30px;
  margin: 0 2%;
}

.contact__block .title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #383b62;
  margin-bottom: 10px;
}
.contact__block .desc {
  color: #8a92a3;
  font-size: 12px;
  margin-bottom: 25px;
}
.button {
  background-color: #6966c7;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.button2 {
  background-color: #fff;
  border: 1px solid #6966c7;
  color: #6966c7;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.contact__block .details {
  font-size: 12px;
  color: #6966c7;
} */
/* MY CSS */
/* body{
  overflow: hidden;
} */
.contact_details {
  padding: 20px 20px;
  position: relative;
  bottom: 160px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 30px #d3d7de99;
  width: 460px;
}
.contact_heading{
  font-size: 18px;
  color: #383B62;
}
.contact_para{
  font-size: 12px;
  color: #8A92A3;
  width:98%;
}
.btns{
  background-color: #6966C7 !important;
  padding: 10px 28px;
  border-radius:5px;
  text-align: center;
  margin: 15px 0;
}