@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.PoppinsRegular {
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 400;
  /* font-display: swap; */
}
.PoppinsMedium {
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 500;
  /* font-display: swap; */
}
.PoppinsSemiBold {
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 600;
  /* font-display: swap; */
}
.PoppinsBold {
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 700;
  /* font-display: swap; */
}
.PoppinsExtraBold {
  font-family: "Poppins";
  /* font-style: normal; */
  font-weight: 800;
  /* font-display: swap; */
}

.H34 {
  font-size: 34px;
  /* font-size: 2.125rem;  */
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 600; */
  /* background-color: #000; */
}

.H24 {
  font-size: 24px;
  /* font-size: 1.5rem;  */
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 600; */
}
.H21 {
  font-size: 21px;
  /* font-size: 1.5rem;  */
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 600; */
}

.H18 {
  font-size: 18px;
  /* font-size: 1.125rem; */
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 500; */
}

.H14 {
  font-size: 14px;
  /* font-size: 0.875rem; */
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 400; */
}
.H15 {
  font-size: 15px;
  /* font-size: 0.875rem; */
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 400; */
}

.H12 {
  font-size: 12px;
  /* font-size: 0.75; */
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 400; */
}
.H11 {
  font-size: 11px;
  /* font-size: 0.75; */
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 400; */
}
.H13 {
  font-size: 13px;
  /* font-size: 0.75; */
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 400; */
}
.H30 {
  font-size: 30px;
  /* font-size: 0.75; */
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 400; */
}
.H16 {
  font-size: 16px;
  /* font-size: 0.75; */
  /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 400; */
}

@media only screen and (max-width: 480px) {
  .H34{
    font-size: 24px;
  }
  .H14{
    font-size: 12px;
  }
  .H24{
    font-size: 18px;
  }
}
