/* Front Page */
.Btn__area__filled {
  cursor: pointer;
  background-color: #6966c7;
  font-size: 0.875rem;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
  /* letter-spacing: 2px;  */
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

#upper__container > div > img {
  height: auto;
  width: 100%;
}

#left__box {
  padding: 7% 10% 15% 10%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#left__box > div:first-child > a {
  /* font-size: 2rem; */
  text-decoration: none;
  color: #383b62;
}

#left__box > p {
  color: #8a92a3;
}

.homepage__hashtags {
  display: flex;
  justify-content: space-between;
}
.homepage__hashtags > a {
  border-radius: 1rem;
  padding: 1%;
  background-color: #fdf0e1;
  text-decoration: none;
  color: #e39e43;
}

#right__box {
  padding: 4% 7% 7% 7%;
}

#overlay__div {
  width: 33%;
  /* display: flex; */
  border-radius: 1rem;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: -5%;
  z-index: 1000000;
  box-shadow: 0.1rem 0.1rem 0.1rem #aaaa;
}

#overlay_card {
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 15px;
}

#overlay_card > div > div:first-child > p:first-child {
  color: #6966c7;
  font-size: 12px;
}

#overlay_card > div > div:first-child > p:nth-child(2) {
  color: #383b62;
  font-size: 14px;
}
#overlay_card > div > div:first-child > p:nth-child(3) {
  color: #8a92a3b3;
  font-size: 12px;
}
#overlay_card > div > div:nth-child(2) > div > span {
  color: white;
  border-radius: 1rem;
  font-size: 12px;
  background-color: #ffc477;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

/* #overlay__div > div > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

#overlay__div > div:nth-child(2) > div > p {
  text-align: start;
  color: #6966c7;
}

#overlay__div > div:nth-child(2) > h4 {
  color: #383b62;
  font-size: 14px;
}

#overlay__div > div:nth-child(3) > span {
  background-color: #e39e43;
  color: white;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}

#iot__product > div {
  text-align: center;
}

#iot__product > div > h4 {
  padding: 10% 0% 0% 0%;
  color: #383b62;
}

#iot__product > div > span {
  color: #b6bbc5;
}

#world__of__iot {
  background-color: #ffffff;
}

#world__of__iot > div {
  text-align: center;
}
#world__of__iot > div > h1 {
  /* padding: 0rem 30rem; */
}
#world__of__iot > div > p {
  color: #8a92a3;
  padding: 0% 33%;
}

/* Third Page */

#why_shipcom {
  padding: 5% 0%;
  background-color: #fafafb;
}

#why_shipcom > div {
  text-align: center;
}

#shipcom__product {
  background-color: #fafafb;
  padding: 0% 0% 3% 0%;
}

#shipcom__product > div {
  width: 80%;
  margin: 0 auto;
}
#shipcom__product > div > div > div {
  text-align: left;
  min-height: 80%;
}

/* Fourth Page */

#offers {
  background-color: #272741;
  padding: 4rem 1rem;
  color: #727483;
}

#offers__box__navigate {
  width: 60%;
  margin: 0 auto;
  background-color: #21223b;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-around;
  color: #7f808e;
  font-size: 0.8rem;
  border-radius: 0.3rem;
}
#offers__header {
  padding: 0rem 4rem 3rem 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#offers__header > span {
  padding: 0rem 18rem;
}

#offers__header > p:first-child {
  font-size: 34px;
}

#offers_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4rem 0rem;
}

#offers_content_left {
  padding: 0% 5% 0% 10%;
}
#offers_content_left > div > span,
#offers_left_box > div > div > span,
#offers__header > p {
  font-size: 14px;
}

#offers_content_left > div > p {
  padding-top: 5%;
}

#offers_left_box > div > p {
  font-size: 18px;
}

#offers_content_left > div:first-child > p > a {
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  padding: 2% 3%;
}
#offers_left_box > div {
  text-align: left;
  display: flex;
  flex-direction: row;
  padding: 7% 0% 0% 0%;
}

#offers_left_box > div > img {
  height: 2rem;
  padding: 0% 2% 0% 1%;
}

#offers_left_box > div > div > p {
  font-size: 1.1rem;
  color: #eda343;
}

#offers_content_left > div:first-child > p {
  color: #ffffff;
  padding: 3% 0%;
}

#offers_right_box > div:first-child {
  display: flex;
  flex-direction: row;
}

#offers_right_box > div:first-child > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-align: left;
  padding-left: 10%;
}

#offers_right_box > div:first-child > div > p:nth-child(1) {
  background-color: #6ebc86;
  width: 80%;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
}

#offers_right_box > div:first-child > div > p:nth-child(2) {
  margin-left: 20%;
  background-color: #638ad1;
  width: 80%;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
}

#offers_right_box > div:first-child > div > p:nth-child(3) {
  background-color: #6966c7;
  padding: 0.3rem;
  border-radius: 1rem;
  width: 70%;
}

#offers_right_box {
  display: flex;
  flex-direction: column;
  padding: 5% 10% 0% 0%;
}

#offers_right_box > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  padding: 8% 0%;
}

#offers_right_box > div:nth-child(2) > img {
  padding: 3% 0%;
}

/* #offers_content_left {
  width: 30%;
  padding: 0rem 0rem;
  text-align: left;
} */
/* 
#offers_content_left > div:first-child {
  display: flex;
  flex-direction: column;
  padding: 3% 5%;
  justify-content: space-around;
}

#offers_content_left > div:first-child > h3 {
  color: #ffffff;
  padding: 3% 0%;
}
#offers_content_left > div:first-child > span {
  color: #7f808e;
  padding: 3% 0%;
}

#offers_content_left > div:first-child > p {
  padding: 5% 0%;
}

#offers_content_left > div:first-child > p > a {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  padding: 2% 3%;
} */

/* #offers_content_left {
  border: 1px solid white;
} */
/* 
.offers_left_box > div {
  text-align: left;
  display: flex;
  flex-direction: row;
  padding: 5%;
}
.offers_left_box > div > div > p {
  font-size: 1.1rem;
  color: #eda343;
}
.offers_left_box > div > div > span {
  font-size: 0.7rem;
  color: #ffffff73;
}

.offers_left_box > div > img {
  height: 2rem;
  padding: 0% 2% 0% 1%;
}

#offers_right_box > div:first-child {
  display: flex;
  flex-direction: row;
}

#offers_right_box > div:first-child > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-align: left;
  padding-left: 10%;
}

#offers_right_box > div:first-child > div > p:nth-child(1) {
  background-color: #6ebc86;
  width: 100%;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
}

#offers_right_box > div:first-child > div > p:nth-child(2) {
  margin-left: 20%;
  background-color: #638ad1;
  width: 100%;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
}

#offers_right_box > div:first-child > div > p:nth-child(3) {
  background-color: #6966c7;
  padding: 0.3rem;
  border-radius: 1rem;
  width: 70%;
}

#offers_right_box {
  display: flex;
  flex-direction: column;
}

#offers_right_box > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  padding: 8% 0%;
}

#offers_right_box > div:nth-child(2) > img {
  padding: 3% 0%;
} 

/* Fifth Page */

#industries_relavant > div:nth-child(1) > p:nth-child(1) {
  font-size: 2.1rem;
  color: #383b62;
  padding: 10% 20% 1% 20%;
  text-align: center;
}

#industries_relavant > div:nth-child(1) > p:nth-child(2) {
  font-size: 0.9rem;
  color: #8a92a3;
  text-align: center;
  padding: 0% 30%;
}

#industries_relavant > div:nth-child(2) {
  padding: 7% 0%;
}

#industries_relavant > div:nth-child(2) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2.1rem;
  padding: 3% 0%;
  width: 100%;
}

#industries_relavant > div:nth-child(2) > div > p {
}

#industries_relavant > div:nth-child(2) > div > p:nth-child(2n + 1) {
  color: #d3d7de;
}

#industries_relavant > div:nth-child(2) > div > p:nth-child(2n) {
  color: #383b62;
}

#client_testimonials {
  padding: 6% 0% 18% 0%;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
}

#client_testimonials > div > p {
  font-size: 34px;
  color: white;
}

#client_testimonials > div {
  display: flex;
  font-display: row;
  justify-content: center;
}

#client_testimonials > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

#client_testimonials > div > div > span {
  border-bottom: 2px solid #ffffff;
  font-size: 18px;
  color: #a7a6db;
}

#testimonials_overlay {
  background-color: white;
  padding: 3% 0% 3% 0%;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 27px #6966c733;
  margin-top: -10%;
  z-index: 1000000;
}

#testimonials_overlay > div {
  text-align: center;
}

#testimonials_overlay > div:first-child > p:first-child {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

#testimonials_overlay > div:first-child > p:nth-child(2) {
  color: #8a92a3;
  font-size: 14px;
}

#testimonials_overlay > div:nth-child(2) > p:first-child {
  font-size: 18px;
  color: #383b62;
  padding: 0% 11%;
}
#testimonials_overlay > div:nth-child(2) > p:nth-child(2) {
  text-align: 0.8rem;
  color: rgba(138, 146, 163, 1);
}

#testimonials_overlay > div:nth-child(3) > p:first-child {
  text-align: 0.8rem;
  color: rgba(56, 59, 98, 1);
}

#leftArrow > img:first-child {
  margin: -32% 0% 0% 17.3%;
}

#leftArrow > img:nth-child(2) {
  margin-left: -3%;
  margin-top: -32.2%;
}

#rightArrow > img:first-child {
  margin: -34.5% 0% 0% 77%;
}

#rightArrow > img:nth-child(2) {
  margin-left: -3%;
  margin-top: -35.2%;
}

#resources {
  background-color: #fafafb;
}

#resources > div:nth-child(2) > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#resources > div:first-child {
  text-align: center;
  padding: 5% 0%;
}

#resources > div:first-child > p:first-child {
  color: #383b62;
  font-size: 34px;
  font-weight: bold;
}

#resources > div:first-child > p:nth-child(2) {
  color: #8a92a3;
  font-size: 14px;
}

#resources > div:nth-child(2) > div > div:first-child {
  box-shadow: 0px 10px 30px #d3d7de99;
  padding: 8% 5% 2% 5%;
}

#resources > div:nth-child(2) > div > div > p:first-child {
  color: #eda343;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

#resources > div:nth-child(2) > div > div > p:nth-child(2) {
  color: #383b62;
  font-size: 18px;
}

#resources > div:nth-child(2) > div > div > p:nth-child(3) {
  color: #8a92a3;
  font-size: 14px;
}
#resources > div:nth-child(2) > div > div > a {
  border: 2px solid #6966c7;
  padding: 3% 3%;
  border-radius: 5px;
  color: #6966c7;
  font-size: 14px;
  width: 40%;
  justify-content: space-evenly;
  font-weight: bold;
}

#resources > div:nth-child(2) > div > div > a > span {
  float: right;
}

#work_together > div {
  margin-top: 10%;
  padding: 15% 15% 15% 15%;
}

#work_together > div > div {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

#work_together > div > div > p:first-child {
  color: #383b62;
  font-size: 34px;
}

#work_together > div > div > p:nth-child(2) {
  color: #383b62;
  font-size: 14px;
}

#work_together > div > div > a {
  color: white;
  background-color: #6966c7;
  font-size: 14px;
  border-radius: 5px;
  padding: 2% 5%;
}

.hashTagHome {
  display: flex;
  overflow-y: scroll;
}

.hashTagHome::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
}
