#job_heading h1 {
	/* font-size: 34px; */
	color: #383B62;
	opacity: 1;
}

#sub_heading #text_heading {
	/* font-size: 18px; */
	color: #5551C6;
	opacity: 1;
}

#sub_heading #text_para {
	color: #8A92A3;
	opacity: 1;
	/* font-size: 14px; */
}

#sub_heading #text_subheading {
	color: #383B62;
	opacity: 1;
	font-size: 14px;
}

#nested_ul {
	padding: 0px 18px !important;
	color: rgba(138, 146, 163, 1);
}
#sub_ul ul li {
	font-size: 14px;
	margin: 10px 0;
}
#btn_primary{
	background-color: #6966C7;
	border-color: #6966C7;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	opacity: 1;
}
#button{
	padding: 25px 0;
}
#listed_group_item{
	background-color: #F2F3F6 !important; 
}
#card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
	background-color: #F2F3F6;
}
#card_title{
	color: #383B62;
opacity: 1;
font-size: 18px;
}
#btns{
	justify-content: center;
	align-items: center;
	display: flex;
}