.jobs__searchbar {
  width: 100%;
}

.jobs__searchbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 2px 9px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 9px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 9px -5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.jobs__searchbar > .MuiSvgIcon-root {
  color: gray;
}

.jobs__searchbar > input {
  border: none;
  width: 100%;
  padding: 10px;
  outline-width: 0;
  font-size: medium;
  background-color: transparent;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.jobsInput::placeholder {
  font-family: "Poppins";
}
