#labs_monitoring > div > div:first-child {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
  margin-top: 75px;
}

/* toggle 11 */

#cooler {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
}

#coolericon1 {
  background: transparent url("../../public/images/cooler1.png") 0% 0% no-repeat
    padding-box;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

#coolericon2 {
  background: transparent url("../../public/images/cooler2.png") 0% 0% no-repeat
    padding-box;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

#coolericon3 {
  background: transparent url("../../public/images/cooler3.png") 0% 0% no-repeat
    padding-box;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

#cooler > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cooler > div > div > p {
  margin: 0;
}

#cooler_sections_title {
  font-weight: bold;
  color: #383a65;
  font-size: 21px;
}

#cooler_section_sub {
  color: #8892a5;
  font-size: 13px;
}

#cooler_section_desc {
  font-size: 13px;
  font-weight: bold;
  color: #6966c7;
}

#temp {
  width: 90%;
  background: #fff;
  border-radius: 10px;
  padding: 15px 30px;
  margin-bottom: 20px;
}

#tempIcon > img {
  width: 40px;
}

/* toggle 12 */

#ambient_monitoringLeft {
  width: 55%;
}

#ambient_monitoringRight {
  width: 45%;
  padding-left: 20px;
  padding-top: 20px;
}

/* toggle 13 */

#protocols {
  width: 90%;
  background: #fff;
  border-radius: 10px;
  padding: 15px 30px;
  margin-bottom: 20px;
}
#protocol_title {
  color: #383a65;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

#protocol_desc > p {
  color: #8892a5;
  font-size: 12px;
  margin: 0;
}

#protocols_head {
  width: 90%;
  padding: 14px 20px;
  background: #2e3045;
  margin-bottom: 10px;
  border-radius: 7px;
  text-transform: uppercase;
}

#protocols_Gps2 {
  width: 90%;
  padding: 14px 20px;
  background: #8892a51a;
  margin-bottom: 10px;
  border-radius: 7px;
  text-transform: uppercase;
}

.GpsHash {
  padding-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.GpsHash > img:nth-child(2) {
  margin-left: 30%;
}

.GpsHash23 {
  padding-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.GpsHash23 > img:nth-child(2) {
  margin-left: -30%;
}

#gps23 {
  /* background-color: white; */
  padding: 3% 10% 7% 10%;
}

#gps23 > div:first-child>div{
  padding: 3% 16% 3% 3%;
}
#gps23 > div:first-child>div:first-child>div:first-child{ 
  background-color: #3D89E4;
  border-radius: 7px;
  padding: 5% 5% 1% 5%;
} 
#gps23 > div:first-child>div:first-child>div:nth-child(2){ 
  background-color: #FF7850;
  padding: 5% 5% 1% 5%;
  border-radius: 7px;
} 

#gps23 > div:nth-child(2) > div > p {
  margin-bottom: 0px !important;
}

#gps23 > div:nth-child(2) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 2% 2% 2% 2%;
  border-radius: 7px;
  margin-top: 5%;
}


#gps23 > div:nth-child(2) > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #8892A5;
  padding: 2% 2% 2% 2%;
  border-radius: 7px;
  margin-top: 15%;
}


.gps21 > img{
  
}
 

/* toggle 41 */
