#nav__tabs {
  border-bottom: none;
}

#nav__tabs .nav-link.active {
  border-color: #fff;
}
#nav__tabs .nav-link {
  border: none !important;
}
#nav__item a {
  color: black;
  font-size: 16px;
  border-color: #fff;
}
#container__fluid {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 5px 15px rgba(105, 102, 199, 0.1);
  opacity: 1;
}
#nav__link {
  padding: 0.5rem 1rem;
}
#main__items {
  margin: 0 auto;
}
#main__section p {
  color: rgba(138, 146, 163, 1);
  opacity: 1;
  font-size: 14px;
}
#heading {
  font-size: 18px;
  letter-spacing: 0px;
  color: rgba(56, 59, 98, 1);
  font-weight: 600;
}
#heading__items {
  font-size: 14px;
  letter-spacing: 0px;
  color: rgba(56, 59, 98, 1);
  font-weight: 700;
}
#heading__para {
  color: rgba(138, 146, 163, 1);
  opacity: 1;
  font-size: 14px;
}
#listed__items {
  padding-top: 25px;
}
#nested__ul ul {
  color: rgba(138, 146, 163, 1);
  padding: 0 18px;
}
#nested__ul ul li {
  font-size: 14px;
}
