* {
  margin: 0;
}

.flickity-page-dots {
  position: relative;
  width: 30%;
  margin: 0 auto;
  padding: 0.5rem;
  bottom: 10px;
  background-color: #f3f5f8;
  border-radius: 13px;
}

.flickity-page-dots .dot {
  opacity: 1;
  background: transparent;
  background-color: #d3d7de;
}

.flickity-page-dots .dot.is-selected {
  background: #6966c7;
}
