#Footer {
  background: #2c2e4b;
  color: #4e5068;
  padding: 5% 0% 0% 0%;
}

#Footer > div > div > div > div:first-child > div > p {
  color: #51536b;
  font-size: 12px;
}

#Footer > div > div > div > div:nth-child(2) > div > p:first-child {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}

#Footer > div > div > div > div:nth-child(2) > div > p:nth-child(2) {
  color: #51536b;
  font-size: 12px;
}

#Footer > div > div > div > div:nth-child(2) > div > button {
  background-color: #6966c7;
  color: white;
  font-size: 12px;
  padding: 3% 3% 3.2% 3%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#Footer > div > div > div > div:nth-child(2) > div > input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  padding: 10px 10px;
}

#Footer > div > div > div > div:nth-child(2) > div > input::placeholder {
  padding: 0% 0%;
  font-size: 12px;
  color: black;
  padding-left: 8%;
}

#Footer > div > div > div:nth-child(2) > div > div > p {
  color: #ffffff66;
  font-size: 12px;
}

#Footer > div > div > div:nth-child(2) > div > div > p:first-child {
  color: #ffffff;
  font-size: 14px;
}

#belowFooter {
  font-size: 12px;
  color: #ffffff66;
  padding: 1% 0%;
  background-color: #383b62;
  width: 100%;
}
