@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


.industryContents > div > div{
    font-size: 14px;
    font-family: "Poppins"; 
    font-weight: 500;
}

.industryContents > div > div >p{
    font-size: 12px;
    font-family: "Poppins"; 
    font-weight: 400;
    color: #8A92A3;
}

#optionSelected{ 
    background-color:  #6966c7;
    border-radius: 10px; 
    color: white !important;
}